/* Fix misalignment https://github.com/refined-github/refined-github/pull/5665 */
.pagehead-actions > li > * {
	margin: 8px 8px 0 0 !important;
	display: block;
}


/* Align vertically the old and new titles in title edition events https://github.com/refined-github/refined-github/issues/5657#issuecomment-1134077169 */
.TimelineItem[id^='event-'] .TimelineItem-body {
	display: flex;
	flex-wrap: wrap;
	gap: 2px 4px;
}

.TimelineItem[id^='event-'] .TimelineItem-body :is(del, ins) {
	/* Move the diff after the relative time https://github.com/refined-github/refined-github/pull/5658#issuecomment-1135101420 */
	flex: 1 0 100%;
	order: 99;
}
